.color-picker-container{
  display: flex;
  flex-direction: column;
  /*items*/
  align-items: center;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid hsl(0, 0%, 50%);
  border-radius: 20px;
  margin-bottom: 20px;
  transition: 0.25s ease;
}

h1 {
  margin: 50px;
  font-size: 5em;
}
